<h2>INFO</h2>
<div class="main">
    <p class="lead">
        これは静的ページですこれは静的ページですこれは静的ページですこれは静的ページですこれは静的ページですこれは静的ページですこれは静的ページです
        これは静的ページですこれは静的ページですこれは静的ページですこれは静的ページですこれは静的ページですこれは静的ページですこれは静的ページです
        これは静的ページですこれは静的ページですこれは静的ページですこれは静的ページですこれは静的ページですこれは静的ページですこれは静的ページですこれは静的ページです
    </p>
</div>