<footer>
    <nav>
        <ul class="flex">
            <li><%= link_to('about', "/about") %></li>
            <li><%= link_to('info', "/info") %></li>
            <li><%= link_to('top', "/") %></li>
        </ul>
    </nav>
</footer>